<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>美容养颜</string>
		<key>openSub</key>
		<true/>
		<key>subClass</key>
		<array>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>20</integer>
				<key>name</key>
				<string>美容</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>21</integer>
				<key>name</key>
				<string>养颜</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>22</integer>
				<key>name</key>
				<string>排毒</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>23</integer>
				<key>name</key>
				<string>美白</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>24</integer>
				<key>name</key>
				<string>抗皱</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>25</integer>
				<key>name</key>
				<string>祛斑</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>224</integer>
				<key>name</key>
				<string>黑眼圈</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>26</integer>
				<key>name</key>
				<string>祛痘</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>27</integer>
				<key>name</key>
				<string>润肤</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>28</integer>
				<key>name</key>
				<string>保湿</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>1</integer>
				<key>id</key>
				<integer>29</integer>
				<key>name</key>
				<string>护眼</string>
				<key>openSub</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>减肥瘦身</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>保健养生</string>
		<key>openSub</key>
		<false/>
		<key>subClass</key>
		<array>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>37</integer>
				<key>name</key>
				<string>补钙</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>38</integer>
				<key>name</key>
				<string>补血</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>39</integer>
				<key>name</key>
				<string>补铁</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>40</integer>
				<key>name</key>
				<string>润肺</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>41</integer>
				<key>name</key>
				<string>养肝</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>42</integer>
				<key>name</key>
				<string>养胃</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>225</integer>
				<key>name</key>
				<string>营养不良</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>43</integer>
				<key>name</key>
				<string>补肾</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>44</integer>
				<key>name</key>
				<string>健脾</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>45</integer>
				<key>name</key>
				<string>降火</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>46</integer>
				<key>name</key>
				<string>降压</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>47</integer>
				<key>name</key>
				<string>开胃</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>48</integer>
				<key>name</key>
				<string>御寒</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>49</integer>
				<key>name</key>
				<string>补脑</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>50</integer>
				<key>name</key>
				<string>明目</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>51</integer>
				<key>name</key>
				<string>滋阴</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>52</integer>
				<key>name</key>
				<string>壮阳</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>53</integer>
				<key>name</key>
				<string>益寿</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>54</integer>
				<key>name</key>
				<string>益智</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>55</integer>
				<key>name</key>
				<string>防癌</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>56</integer>
				<key>name</key>
				<string>清肠</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>57</integer>
				<key>name</key>
				<string>止咳</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>58</integer>
				<key>name</key>
				<string>护眼</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>59</integer>
				<key>name</key>
				<string>护肝</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>60</integer>
				<key>name</key>
				<string>润燥</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>61</integer>
				<key>name</key>
				<string>补铁</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>62</integer>
				<key>name</key>
				<string>养血</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>63</integer>
				<key>name</key>
				<string>解暑</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>64</integer>
				<key>name</key>
				<string>清热 </string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>65</integer>
				<key>name</key>
				<string>防辐射</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>66</integer>
				<key>name</key>
				<string>长个子</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>68</integer>
				<key>name</key>
				<string>提高免疫力</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>67</integer>
				<key>name</key>
				<string>增强记忆力</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>69</integer>
				<key>name</key>
				<string>补锌</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>71</integer>
				<key>name</key>
				<string>抗衰老</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>70</integer>
				<key>name</key>
				<string>养肾</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>3</integer>
				<key>id</key>
				<integer>72</integer>
				<key>name</key>
				<string>护肝</string>
				<key>openSub</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>适宜人群</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>餐食时节</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>孕产哺乳</string>
		<key>openSub</key>
		<false/>
		<key>subClass</key>
		<array>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>93</integer>
				<key>name</key>
				<string>怀孕前</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>94</integer>
				<key>name</key>
				<string>准备怀孕</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>95</integer>
				<key>name</key>
				<string>不孕</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>96</integer>
				<key>name</key>
				<string>怀孕</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>97</integer>
				<key>name</key>
				<string>孕妇</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>98</integer>
				<key>name</key>
				<string>孕吐</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>99</integer>
				<key>name</key>
				<string>妊娠呕吐</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>100</integer>
				<key>name</key>
				<string>妊娠水肿</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>102</integer>
				<key>name</key>
				<string>安胎</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>101</integer>
				<key>name</key>
				<string>怀孕初期</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>103</integer>
				<key>name</key>
				<string>保胎</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>104</integer>
				<key>name</key>
				<string>产妇</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>105</integer>
				<key>name</key>
				<string>坐月子</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>106</integer>
				<key>name</key>
				<string>产后</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>107</integer>
				<key>name</key>
				<string>哺乳期</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>108</integer>
				<key>name</key>
				<string>乳腺炎</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>109</integer>
				<key>name</key>
				<string>下奶</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>110</integer>
				<key>name</key>
				<string>产后恶露不尽</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>6</integer>
				<key>id</key>
				<integer>111</integer>
				<key>name</key>
				<string>产后便秘</string>
				<key>openSub</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>女性养生</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>男性养生</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>心脏血管</string>
		<key>openSub</key>
		<false/>
		<key>subClass</key>
		<array>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>137</integer>
				<key>name</key>
				<string>冠心病</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>138</integer>
				<key>name</key>
				<string>心脏病</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>139</integer>
				<key>name</key>
				<string>心悸</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>140</integer>
				<key>name</key>
				<string>高血压</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>141</integer>
				<key>name</key>
				<string>贫血</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>142</integer>
				<key>name</key>
				<string>血脂高</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>143</integer>
				<key>name</key>
				<string>血糖高</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>9</integer>
				<key>id</key>
				<integer>144</integer>
				<key>name</key>
				<string>血压高</string>
				<key>openSub</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>皮肤器官</string>
		<key>openSub</key>
		<false/>
		<key>subClass</key>
		<array>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>145</integer>
				<key>name</key>
				<string>皮肤粗糙</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>146</integer>
				<key>name</key>
				<string>皮肤干燥</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>147</integer>
				<key>name</key>
				<string>皮肤瘙痒</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>148</integer>
				<key>name</key>
				<string>皮肤松弛</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>149</integer>
				<key>name</key>
				<string>雀斑</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>150</integer>
				<key>name</key>
				<string>眼睛</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>151</integer>
				<key>name</key>
				<string>牙齿</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>152</integer>
				<key>name</key>
				<string>大脑</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>153</integer>
				<key>name</key>
				<string>心血管</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>154</integer>
				<key>name</key>
				<string>血糖高</string>
				<key>openSub</key>
				<false/>
			</dict>
			<dict>
				<key>cookclass</key>
				<integer>10</integer>
				<key>id</key>
				<integer>155</integer>
				<key>name</key>
				<string>前列腺</string>
				<key>openSub</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>肠胃消化</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>口腔呼吸</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>肌肉神经</string>
		<key>openSub</key>
		<false/>
	</dict>
	<dict>
		<key>cookclass</key>
		<integer>0</integer>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>癌症其他</string>
		<key>openSub</key>
		<false/>
	</dict>
</array>
</plist>
